<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/app.min.css">
    <title>title</title>
</head>
<body>
<div class="header d-flex justify-content-end">
     <div class ="header-up">
        <div class ="header-row1 col-xl-4 col-lg-5 col-md-6 col-sm-12 d-flex flex-column">
            <div class="icons d-flex align-items-center justify-content-between">
                 <div class="icons__item icons__item_padding d-flex  flex-column align-items-center">
                    <img src="../images/houm2.png" alt="">
                     <div class="text__item brownDark fontSans size16px">Главная</div>
                </div>
                 <div class="icons__item icons__item_padding d-flex  flex-column align-items-center">
                    <img src="../images/basket.png" alt="">
                     <div class="text__item brownDark fontSans size16px">Корзина</div>
                </div>
               
                
                 <div class="icons__item icons__item_padding d-flex  flex-column align-items-center">
                    <img src="../images/order.png" alt="">
                     <div class="text__item brownDark fontSans size16px">Заказы</div>
                </div>
                 <div class="icons__item icons__item_padding d-flex  flex-column align-items-center">
                    <img src="../images/mail.png" alt="">
                     <div class="text__item brownDark fontSans size16px">Написать</div>
                </div>
                 <div class="icons__item icons__item_padding d-flex  flex-column align-items-center">
                    <img src="../images/account.png" alt="">
                    <div class="text__item brownDark fontSans size16px">Войти</div>
                </div>
            </div>
                 <div class="text d-flex justify-content-between">
                      
                     
                     
                     
                 </div>
        </div></div>
            
 </div>
 <div class="header-logo-menu col-xl-10 col-lg-10 offset-xl-1 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1 d-flex justify-content-between align-items-center">
      <div class="header-logo-menu__logo"><img src="../images/logo.png" alt=""></div>

      <div class="header-logo-menu__menu"><img src="../images/menu.png" alt=""></div>
     
 </div>

    <script src="js/app.min.js"></script>
 </body>
 </html>