@font-face {
    font-family: "JostRegular";
    src: url("/resources/fonts/JostRegular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Tahoma";
    src: url("/resources/fonts/Tahoma.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "TahomaBold";
    src: url("/resources/fonts/TahomaBold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "SegoePrint";
    src: url("/resources/fonts/SegoePrint.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  .about__content {
    background-image: url("../template/img/protiv.png");
    }
    .hero {
        background: url("../template/img/bg.png");
      }
    .catalog-right-spread__item {
     -webkit-mask: url(../template/img/ellipce.svg) no-repeat 50% 50%;
      mask: url(../template/img/ellipce.svg) no-repeat 50% 50%;
  }
  .orange {
    color: var(--jaffa-color);
  }
  .myBlue {
    color: var(--royal-blue-color);
  }
  .myGreen {
    color: var(--genoa-color);
  }
  .myPink {
    color: pink;
  }
  .catalog-accordion__icon {
     
      background-image: url(/template/img/cross.svg);
     
  }
  
  .cart-slider {
    max-height: 550px;
  }
  .icon-close {
   margin-top: 50px;
   cursor: pointer;
   transition: color 0.3s ease-in-out;
   
}
.pagination li a{
  background-color: #f0f0e9;
  border: 0;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  margin-right: 5px;
  color: #000;
}
.pagination .active a {
  background-color: var(--jaffa-color);
  border-color: var(--jaffa-color);
  color: #FFFFFF;
  cursor: default;
  z-index: 2;
}
.pagination a:hover {
  background-color: var(--jaffa-color);
  border-color: var(--jaffa-color);
  color: #FFFFFF;
  transition: all .3s ease-in-out;
  
 
}
.main-admin {
  min-height: calc(98vh - 121px);
}
  
  


 
  