//Цвета
//цвет фона
$pale: rgba(219, 218, 196, 0.7)
$none: rgba(255, 255, 255, 0)
$whiteMilk: rgb(243, 245, 247)
$whiteElephant: rgb(219, 218, 196)
$greyElephant: rgb(225, 220, 181)
$white: rgb(255, 255, 255)
$bluePale: rgb(191, 226, 230)
$yellowPale: rgb(251, 246, 202)
$sm-phon: rgb(248, 245, 240)
$xl-pone: #FFF8DC
//цвета шрифтов
$brownLight:  rgb(139, 115, 85)
$brownDark:   rgb(46, 18, 7)
$brownSweet: rgb(95, 63, 51)
$brownMiddle: rgba(77, 72, 60, 0.7)
$burgundy: rgb(165, 42, 42)
$burgundyLight: rgb(178, 22, 31)
//цвета кнопок
$greenVivid: rgb(62, 142, 78)
$orange: rgb(241, 115, 69) //#f17345ff
$myBlue: rgb(53, 128, 231)
$myGreen: rgb(45, 197,48)
$brownGrey: rgb(180, 168, 160)
$darkBlue: rgb(81, 98, 147)
//цвета меню категорий
$color3: rgb(241, 237, 127)
$color3-hover: rgb(213, 209, 110)
$color2: rgb(228, 156, 113)
$color2-hover: rgb(204, 139, 100)
$color1: rgb(235, 183, 100)
$color1-hover: rgb(210, 164, 90)

//Шрифты
.brownDark
	color: $brownDark
.brownLight
	color: $brownLight
.burgundyLight
	color: $burgundyLight
.orange
	color: $orange
.white
	color: $white
.myBlue
	color: $myBlue
.myGreen
	color: $myGreen
.brownSweet
	color: $brownSweet
.darkBlue
	color: $darkBlue
.burgundy
	color: $burgundy
.brownGrey
	color: $brownGrey
hr 
	
	border: 2px solid $brownGrey
.hr-basket	
	padding: 30px 0
