@import "null.sass"
@import "color.sass"
@import "button.sass"
@import "padding.sass"
@import "font.sass"
@import "background.sass"
@import "slider_sm.sass"
@import "slider_cart.sass"
html, body
	height: 100%
.wrap-content
	display: flex
	flex-direction: column
	min-height: 90%

	
	
	//@media screen and (max-width: 576px)
		//background: url(../images/head-fon.png) no-repeat
//start

.main-header-logo
	padding-top: 70px
	@media screen and (max-width: 768px)
		margin-top: 15px
		
.main-start-name__item2, .main-start-name__item3
	@media screen and (max-width: 768px)
		display: none
.icons
	position: relative
	z-index: 1
.main-start
	height: 900px
	@media screen and (max-width: 1200px)
		height: 772px
	@media screen and (max-width: 992px)
		height: 772px
	@media screen and (max-width: 768px)
		height: 245px
	@media screen and (max-width: 576px)
		height: 245px
.main-start	
	margin-top: -108px
	background: url(/template/images/xl-fon.png) no-repeat
	@media screen and (max-width: 1200px)
		background: url(/template/images/lg-fon.png) no-repeat
	@media screen and (max-width: 992px)
		background: url(/template/images/mdfon.png) no-repeat
	@media screen and (max-width: 768px)
		//background: $whiteElephant
		height: 800px
		margin-top: -56px
.main
	flex: 1 0 auto
.wrap-footer-block
	flex: 0 0 auto

body

	background-color: $xl-phone
	@media screen and (max-width: 1200px)
		background-color: $bluePale
	@media screen and (max-width: 992px)
		background-color: palegoldenrod
	@media screen and (max-width: 768px)
		background-color: paleturquoise
	@media screen and (max-width: 576px)
		background-color: $xl-phone

//header
.main-start-slider_sm
	display: none
	@media screen and (max-width: 768px)
		display: flex
.header-logo
	@media screen and (max-width: 768px)
		padding-top: 20px
.header-logo-menu
	padding: -20px 0 0 0
	@media screen and (max-width: 768px)
		padding: 20px 20px 0 20px

.header-logo-menu__menu
	background-color: $orange
	border: 7px solid $orange
	border-radius: 5px
	@media screen and (max-width: 768px)
		display: none

.header-logo-menu__menu
	@media screen and (max-width: 576px)
		background-color: $none
		border: 0
		border-radius: 0
.header-logo-menu__logo img
	@media screen and (max-width: 768px)
		width: 108px
		height: 90px
.header-up
	@media screen and (max-width: 768px)
		display: none
.main-start-title
	@media screen and (max-width: 768px)
		margin-top: -100px
.main-start-catalog_sm_button
	padding: 0 50px
.main-start-catalog_sm
	margin-top: 50px
	display: none
	@media screen and (max-width: 768px)
		display: flex
		justify-content: center
//footer
.wrap-footer-block
	flex: 0 0 auto
	background-color: $burgundy
	@media screen and (max-width: 768px)
		background-color: $none
.footer-block1_content
	color: white
.footer-block
	padding: 30px
	@media screen and (max-width: 768px)
		display: none
		padding: 0
.icon
	padding: 5px
.footer-block1_content, .icon
	@media screen and (max-width: 768px)
		display: none

.header-up-footer
	display: none
	@media screen and (max-width: 768px)
		display: block
		width: 100%

//index-basket


.content-order-list_item__info-structure
	line-height: 30px

.content-order-end__click__btn
	border-radius: 10px
.content-order-list_item__info-delete a 
	color: $brownLight
.content-order-list_item__info-delete a:hover
	color: $burgundyLight
//cart-full

//cart-form

input[class="content-form__data-input"]
	font-family: inherit
	font-size: inherit
	line-height: inherit
	margin: 0
	height: 50px
label.required:after
	color: red
	content: "*"
//admin
.header_admin
	background-color: #e1dcb5
.main-admin-support
	margin-top: 70px

textarea
	height: 50px
input[class="content-form__data-input"]
	padding-left: 15px
	font-size: 22px
	height: 50px
	width: 100%
	@media screen and (max-width: 992px)
		font-size: 22px
		height: 40px
.edit-cart__img img 
	@media screen and (max-width: 576px)
		width: 95%
select[class="edit-cart__item-input"]
	padding-left: 15px
	font-size: 22px
	height: auto
	width: 100%
	@media screen and (max-width: 992px)
		font-size: 16px
		
textarea[class="edit-cart__item-input-desc"]
	padding-left: 15px

	font-size: 22px
	height: auto
	width: 100%
	@media screen and (max-width: 992px)
		font-size: 16px
		height: auto
	
.edit-cart__item-title
	@media screen and (max-width: 768px)
		height: 25px

.edit-cart__item-input, .content-form__data-input
	padding-left: 15px
	font-size: 22px
	height: 40px
	width: 100%
	

.view-product-right-info__ing1
	position: relative
	z-index: 1
	background: url(/template/images/ellips.png) no-repeat
	background-position: center
	
.view-product-right-info__ing3
	position: relative
	z-index: 2
	background: url(/template/images/ellips2.png) no-repeat
	background-position: center
	
.view-product-right-info__ing2
	position: relative
	background: url(/template/images/ellips1.png) no-repeat
	background-position: center
	z-index: 3
.wrap-product-right-info__ing
	margin-top: -70px
.wrap-product-right-info__ing1 
	margin-left: 240px
.wrap-product-right-info__ing3
	margin-top: -70px
	margin-left: 190px
.view-product-right-info__slogan, .view-product-right-info__ing
	@media screen and (max-width: 992px)
		display: none
.view-product-left__img img
	@media screen and (max-width: 768px)
		width: 60%
.cart-order
	border: 1px solid grey
//user_cab
.user-index-actual-info__condition
	background-color: $myBlue
	border-radius: 10px
.user-index-shop-info__condition
	background-color: $brownGrey
	border-radius: 10px

//grandmenu
.main-grandmenu-block__btn
	background-color: $orange
	border-radius: 10px
.main-grandmenu
	display: flex
	padding: 30px 0
	@media screen and (max-width: 768px)
		display: none


//main-about-content
.main-about
	display: flex
	justify-content: center
	align-items: center
	@media screen and (max-width: 768px)
		display: none
.main-about-content
	background: url(/template/images/prot.gif) no-repeat
	background-position: center
	@media screen and (max-width: 992px)
		background-size: 80%
.main-about-row__img img 
	@media screen and (max-width: 1200px)
		width: 90%

.main-btn_hover 
	&:hover
		background-color: #cc623b
	cursor: pointer
.main_btn
	&:hover
		color: white
//catalog
.header-logo
	margin-top: -35px
//.menu-category-titles
	//padding: 0
.menu-category-titles
	@media screen and (max-width: 576px)
		flex-direction: column
.wrap-menu-category-img
	@media screen and (max-width: 768px)
		display: none
.menu-category-titles-item
	padding: 45px 0
	border-radius: 15px 15px 0 0
	@media screen and (max-width: 992px)
		padding: 25px 0
		
	@media screen and (max-width: 768px)
		padding: 15px 0
		border-radius: 15px
.menu-category-titles-item_phone1
	background-color: $color1
	&:hover
		cursor: pointer
		background-color: $color1-hover
.menu-category-titles-item_phone2
	background-color: $color2
	&:hover
		cursor: pointer
		background-color: $color2-hover
.menu-category-titles-item_phone3
	background-color: $color3
	&:hover
		cursor: pointer
		background-color: $color3-hover
.menu-category-img_phone
	background-color: #dcd7af
	
.menu-category-img img
	width: 99%

	

.view-product-left__img img
	@media screen and (max-width: 768px)
		width: 70%
.view-product-right__name_sm
	display: none
	@media screen and (max-width: 992px)
		display: flex


.separator img
	width: 70%
	
.view-product-right, .separator
	display: flex
	@media screen and (max-width: 992px)
		display: none
//about
.content-about__img1
	transform: rotate(3deg)
	@media screen and (max-width: 992px)
		transform: none
		img
			width: 90%
		padding-top: 5px
		padding-bottom: 5px
	@media screen and (max-width: 768px)
		transform: none
		img
			width: 90%
	
	
.content-about__img2
	padding-top: 30px
	transform: rotate(-6deg)
	@media screen and (max-width: 992px)
		transform: none
		img
			width: 90%
		padding-top: 5px
		padding-bottom: 5px
	@media screen and (max-width: 768px)
		transform: none
		img
			width: 80%

	
.content-about__img3
	padding-top: 70px
	transform: rotate(3deg)
	padding-left: 10px
	@media screen and (max-width: 992px)
		transform: none
		img
			width: 90%
		padding-top: 5px
		padding-bottom: 5px
	@media screen and (max-width: 768px)
		transform: none
		img
			width: 80%


.content-about__img4
	padding-top: 50px
	padding-bottom: 60px
	transform: rotate(-6deg)
	@media screen and (max-width: 992px)
		transform: none
		img
			width: 90%
		padding-top: 5px
		padding-bottom: 5px
	@media screen and (max-width: 768px)
		transform: none
		img
			width: 80%
.content-about__text
	color: $brownDark
	@media screen and (max-width: 768px)
		color: white
		background-color: black
		margin-top: -50px

//Pull-out-menu
.icon-close
	padding-top: 15px
.wrap-menu
	position: fixed
	top: 0px
	right: -325px
	width:  305px
	height: 100%
	background-color: #72161b
	text-align: center
	opacity: .9
	ul
		list-style: none 
ul.menu_style
	margin: 0
	padding-top: 90px
ul.menu_style li
	margin: 0
	padding-bottom: 20px
	display: inline-block 
ul.menu_style li a
	color: white
	display: block
	text-decoration: none
//ul.menu li:hover 
ul.menu_style a:hover
	color: #555 
ul.submenu
	padding: 0
	top: 46px
	left: 314px
	display: none
ul.submenu > li
	display: block
	padding: 0
ul.submenu > li > a
	display: block
	text-decoration: none
	padding: 5px
	color: white
	font-size: 20px
ul.submenu > li > a:hover
	text-decoration: underline
.active
	color: yellow 
//cart
.content-order-end__click__btn  a
	color: white
.no-blue a
	color: black
.activePagination
	padding: 10px 
	font-size: 25px
	text: center
	background: yellow
.noActivePagination
	padding: 10px 
	font-size: 25px
	text: center
	background: white
.row-flex
	display: flex
	flex-flow: row wrap
.main-cartFull-list-item__img img
	@media screen and (max-width: 992px)
		width: 90%







  


	


	
	
	

	

	
	


    


		

    
   
