
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	
	
	
}

.products__slogan {
    margin-bottom: var(--second-offset);
    width: 60%;
    font-family: var(--font-family-segoe);
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: var(--wood-bark-color);
}