<style>
  .about__content {
  
  background-image: url("../template/img/protiv.png");
  
}
</style>
<section class="about">
  <div class="container about__container">
    <div class="about__block">
      <div class="about-images">
        <div class="about-images__item"><img src="../template/img/about-1.svg" alt=""></div>
        <div class="about-images__item"><img src="../template/img/about-2.svg" alt=""></div>
        <div class="about-images__item"><img src="../template/img/about-3.svg" alt=""></div>

      </div>
      <div class="about__content">
        <div class="about__title">О нас</div>
        <div class="about__text">Добро пожаловать в&nbsp;вашу новую пекарню!!!
          У&nbsp;нас работают только лучшие специалисты</div>
        <div class="products__btn btn btn-reset btn--primary">перейти</div>

      </div>
      <div class="about-images">
        <div class="about-images__item"><img src="../template/img/about-4.svg" alt=""></div>
        <div class="about-images__item"><img src="../template/img/about-5.svg" alt=""></div>
        <div class="about-images__item"><img src="../template/img/about-6.svg" alt=""></div>

      </div>
    </div>

  </div>
</section>
