<section class="actions" id="actions">
  <div class="container">
    <h2 class="actions__title centered">Не упусти акции и дегустации!</h2>
    <h3 class="actions__date centered">Март 2019</h3>
    <div class="actions-slider">
      <div class="swiper sliderActions">
        <div class="swiper-wrapper">
          <div class="swiper-slide actions-slider__slide">
            <img src="/template/img/slide1.png" alt="slide-1">
            <h3 class="actions-slider__title message">Пробуем трансильванский хлеб</h3>
          </div>
          <div class="swiper-slide actions-slider__slide">
            <img src="/template/img/slide2.png" alt="slide-2">
            <h3 class="actions-slider__title message">Утром - скидки нa корзинки</h3>
          </div>
          <div class="swiper-slide actions-slider__slide">
            <img src="/template/img/slide1.png" alt="slide-3">
            <h3 class="actions-slider__title message">Пробуем трансильванский хлеб</h3>
          </div>
          <div class="swiper-slide actions-slider__slide">
            <img src="/template/img/slide3.png" alt="slide-4">
            <h3 class="actions-slider__title message">Три батона по цене двух!</h3>
          </div>
          <div class="swiper-slide actions-slider__slide">
            <img src="/template/img/slide4.png" alt="slide-5">
            <h3 class="actions-slider__title message">Мастер-класс по бутербродам</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-nav actions-slider-nav">
      <button class="actions-slider-nav__prev btn-reset slider-nav__btn slider-btn">
      </button>
      <button class="actions-slider-nav__next btn-reset slider-nav__btn slider-btn"></button>
    </div>
  </div>
</section>
