<section class="hero">
  <div class="container hero__container">
    <div class="hero__left">
      <div class="hero__logo">
        <img loading="lazy" src="../template/img/logo.svg" class="">
      </div>
      <h1 class="hero__title">За Батоном</h1>
      <h2 class="hero__slogan">С пылу с жару<br> из русской печи</h2>
      <span class="hero__subtitle subtitle">мини-пекарня</span>
    </div>
    <div class="hero__right">
      <div class="btn-reset icon-menu burger hero__burger" aria-label="Открыть меню">
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </div>
    </div>
  </div>
</section>


