<section class="logo">
  <div class="container logo__container">
    <div class="logo__left">
      <div class="logo__logo">
        <img loading="lazy" src="/template/img/logo.svg" class="" width="246" height="207" alt="logo">
      </div>
    </div>
<div class="logo__right">
  <div class="btn-reset icon-menu burger hero__burger" aria-label="Открыть меню">
    <span class="burger__line"></span>
    <span class="burger__line"></span>
    <span class="burger__line"></span>
  </div>
</div>
</div>
</section>
