<section class="products-d products">
  <div class="container products-d__container products__container">
    <ul class="products__list list-reset grid">
      <li class="products__item">
        <a href="" class="products__link">
    <div class="products__image products-d__image">
      <div class="products-d-stage">
        <div class="cube">
          <figure class="back back--bread"></figure>
          <figure class="top top--bread"></figure>
          <figure class="bottom bottom--bread"></figure>
          <figure class="left left--bread"></figure>
          <figure class="right right--bread"></figure>
          <figure class="front front--bread"></figure>
        </div>
      </div>
    </div>
    <h3 class="products__title">Черный хлеб</h3>
    <div class="products__slogan centered">от бородинского до
      трансильванского</div>
    <div class="products__wrap">
      <div class="products__btn btn btn-reset btn--primary">перейти</div>
    </div>
        </a>
      </li>
      <li class="products__item">
        <a href="" class="products__link">
    <div class="products__image products-d__image">
    <div class="products-d-stage">
      <div class="cube">
        <figure class="back"></figure>
        <figure class="top"></figure>
        <figure class="bottom"></figure>
        <figure class="left"></figure>
        <figure class="right"></figure>
        <figure class="front"></figure>
      </div>
    </div>
    </div>
    <h3 class="products__title">Пирожные</h3>
          <div class="products__slogan centered">от корзиночки до
            картошки</div>
          <div class="products__wrap">
            <div class="products__btn btn btn-reset btn--primary">перейти</div>
          </div>
  </a>
      </li>
      <li class="products__item">
        <a href="" class="products__link">
    <div class="products__image products-d__image">
      <div class="products-d-stage">
        <div class="cube">
          <figure class="back back--loaf"></figure>
          <figure class="top top--loaf"></figure>
          <figure class="bottom bottom--loaf"></figure>
          <figure class="left left--loaf"></figure>
          <figure class="right right--loaf"></figure>
          <figure class="front front--loaf"></figure>
        </div>
      </div>
    </div>
    <h3 class="products__title">Белая выпечка</h3>
          <div class="products__slogan centered">от багета до
            чиабатты</div>
          <div class="products__wrap">
            <div class="products__btn btn btn-reset btn--primary">перейти</div>
          </div>
  </a>
      </li>
    </ul>
  </div>
</section>
