<section class="products">
  <div class="container products__container">
    <ul class="products__list list-reset grid">
      <li class="products__item">
        <a href="/category/1" class="products__link">
          <div class="products__image">
            <img src="../template/img/bread.png" alt="">
          </div>
          <h3 class="products__title">Черный хлеб</h3>
          <div class="products__slogan centered">от бородинского до
            трансильванского</div>
          <div class="products__btn btn btn-reset btn--primary">перейти</div>
        </a>
      </li>
      <li class="products__item">
        <a href="/category/2" class="products__link">
          <div class="products__image">
            <img src="../template/img/cake.png" alt="">
          </div>
          <h3 class="products__title">Пирожные</h3>
          <div class="products__slogan centered">от
            корзиночки
            до картошки</div>
          <div class="products__btn btn btn-reset btn--primary">перейти</div>
        </a>
      </li>
      <li class="products__item">
        <a href="/category/3" class="products__link">
          <div class="products__image">
            <img src="../template/img/loaf.png" alt="">
          </div>
          <h3 class="products__title">Белая выпечка</h3>
          <div class="products__slogan centered">от багета </br>до
            чиабатты</div>
          <div class="products__btn btn btn-reset btn--primary">перейти</div>
        </a>
      </li>
    </ul>
  </div>
</section>
